@model  IEnumerable<IPMRVPark.Models.staff_view>

@{
    ViewBag.Title = "Staff Index";
    ViewBag.PageTitle = "Staff List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top-margin">
    <p>
        <a href="@Url.Action("CreateStaff", "Staff")" class="btn btn-default margin-top-10" style="margin-left:10px">
            Add Staff
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </a>
    </p>
</div>
<div class="container-fluid">
    <div class="row top-margin" style="margin-left:5px">
        <table>
            <thead style="border:1px solid green">
                <tr>
                    <th>
                        <label style="margin:10px">Full Name</label>
                    </th>
                    <th>
                        <label style="margin:10px">Main Phone</label>
                    </th>
                    <th>
                        <label style="margin:10px">E-mail</label>
                    </th>
                    <th>
                        <label style="margin:10px">Role</label>
                    </th>
                    <th>
                        <label style="margin:10px">Actions</label>
                    </th>
                </tr>
                </thead>

                @foreach (var item in Model)
                {
                                <tbody style="border:1px dotted green">
                    <tr>
                        <td>
                            @Html.DisplayFor(modelitem => item.fullName, new { style = "margin: 10px;" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.mainPhone, new { style = "margin: 10px;" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.email, new { style = "margin: 10px;" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.role, new { style = "margin: 10px;" })
                        </td>
                        <td style="border-top:none">
                            <div class="dropdown pull-right">
                                <button class="btn btn-block dropdown-toggle" aria-expanded="false" type="button" data-toggle="dropdown">
                                    Action
                                    <span class="collapsible"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="@Url.Action("StaffDetails", "Staff", new { id = item.id }) " class=" btn btn-default margin-top-10">
                                            Details
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("EditStaff", "Staff", new { id = item.id }) " class=" btn btn-default margin-top-10">
                                            Edit&nbsp;
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
            </tbody>
                }

</table>
    </div>
</div>
