@model IPMRVPark.Models.selected

@{
    ViewBag.Title = "Site Reservation";
    ViewBag.PageTitle = "New Reservation";
}

@Html.ActionLink("Home", "Menu", "PrototypeUI")
<span class="glyphicon glyphicon-chevron-right"></span>
Site Reservation
<span class="glyphicon glyphicon-chevron-right"></span>
@Html.ActionLink("New Reservation", "Reservation", "PrototypeUI")

<!-- New Reservation-->
<div class="container-fluid">
    <!-- Script to transfer data from selected site -->
    <script type="text/javascript">
        $(document).ready(function () {
            //function will be called on button click having id btnsave
            $("#btnSelectSite").click(function () {
                $.ajax(
                {
                    type: "POST", //HTTP POST Method
                    url: "Reservation", // Controller/View
                    dataType: "json",
                    data: { //Passing data
                        checkInDate: $("#checkInDate").val(), //Reading text box values using jQuery
                        checkOutDate: $("#checkOutDate").val(),
                        idRVSite: $("#idRVSite").val()
                    },
                    success: updateSelectedList(), // Update Selected List
                    error: function (result) {
                        alert("Some error occured.");
                    }
                });

            });

            //Selected RV Site List
            updateSelectedList(); // Load Partial View
            $('.button-refresh-list').click(function () {
                updateSelectedList();
            });
            function updateSelectedList() {
                //alert("updateSelectedList");
                $.post('@Url.Action("UpdateSelectedList", "Reservation")').always(function () {
                    $('.selected-list').load('/Reservation/UpdateSelectedList');
                })
            }
        });
    </script>
    <!-- RV Site Dates-->
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-sm-3 col-xs-12 form-top-margin">
                <label>Check In Date</label>
            </div>
            <div class="col-sm-3 col-xs-12 form-top-margin">
                <input type="date" id="checkInDate" class="form-control" value="2016-03-21" />
            </div>
            <div class="col-sm-3 col-xs-12 form-top-margin">
                <label>Check Out Date</label>
            </div>
            <div class="col-sm-3 col-xs-12 form-top-margin">
                <input type="date" id="checkOutDate" class="form-control dateselector" value="2016-03-25">
            </div>
        </div>
    </div>
    <!-- RV Site Selection -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#siteName").autocomplete({
                source: function (request, response) {
                    // define a function to call the action (assuming UserController)
                    $.ajax({
                        url: '/Reservation/SearchSiteByNameResult',
                        type: "POST",
                        dataType: "json",
                        // query will be the param used by the action method
                        data: { query: request.term },
                        success: response
                    });
                },
                minLength: 1, // require at least one character from the user
                select: function (event, ui) {
                    $('#idRVSite').val(ui.item.ID); // name of form input field: CustomerID, ProductID
                }
            });
        });
    </script>
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-sm-2 col-xs-12 form-top-margin">
                <label>RV Site</label>
            </div>
            <div class="col-sm-6 col-xs-12 form-top-margin" data-toggle="tooltip" title="Search and selecte with autocomplete">
                <input type="text" class="form-control" id="siteName" placeholder="Type letter and number then select from the list" />
                <input class="text-box single-line" id="idRVSite" name="idRVSite" type="hidden" value="" />
            </div>
            <div class="col-sm-4 col-xs-12 form-top-margin" data-toggle="tooltip" title="Select / Add Site">
                <button id="btnSelectSite" class="btn btn-block btn-default">
                    <span class="col-xs-1 glyphicon glyphicon-plus-sign"></span>
                    <span class="col-xs-9">Select Site</span>
                </button>
            </div>
        </div>
    </div>
    <!-- Total amount for this site reservation -->
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-sm-8 col-xs-12 form-top-margin">
                <label>Total Amount For Selected Site</label>
            </div>
            <div class="col-sm-4 col-xs-12 form-top-margin">
                <input type="text" min="0.00" step="any" class="form-control" placeholder="CAD$ 1,345." style="text-align:right" disabled>
            </div>
        </div>
    </div>

    <!-- Selected Site List-->
    <!-- ********** Dynamic Table -->
    <div class="row top-margin" data-toggle="tooltip" title="List Of Sites That Match The Search Criteria Above">
        <div class="col-sm-8 col-xs-12 form-top-margin">
            <span class="col-xs-1 glyphicon glyphicon-list"></span>
            <b>Selected Sites</b>
        </div>
        <div class="col-sm-4 col-xs-12 form-top-margin button-refresh-list">
            <button class="btn btn-block btn-default">
                <span class="col-xs-1 glyphicon glyphicon-refresh"></span>
                <span class="col-xs-9">Refresh List</span>
            </button>
        </div>
    </div>
    <div class="selected-list">
    </div>
    <!-- ********** -->
    <!-- Customer Selection -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#customerName").autocomplete({
                source: function (request, response) {
                    // define a function to call the action (assuming UserController)
                    $.ajax({
                        url: '/Reservation/SearchCustomerByNameOrPhoneResult',
                        type: "POST",
                        dataType: "json",
                        // query will be the param used by the action method
                        data: { query: request.term },
                        success: response
                    });
                },
                minLength: 1, // require at least one character from the user
                select: function (event, ui) {
                    $('#customerName').val(ui.item.ID); // name of form input field: CustomerID, ProductID
                }
            });
        });
    </script>
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-sm-2 col-xs-12 form-top-margin">
                <label>Customer</label>
            </div>
            <div class="col-sm-6 col-xs-12 form-top-margin" data-toggle="tooltip" title="Search and selecte with autocomplete">
                <input type="text" class="form-control" id="customerName" placeholder="Type name or phone and then select from the list" />
            </div>
            <div class="col-sm-4 col-xs-12 form-top-margin" data-toggle="tooltip" title="Go To">
                <a href="@Url.Action("Customer", "PrototypeUI")" class="btn btn-block btn-default btn-mylink pagination-centered">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    <span>New Customer</span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- Confirmation -->
    <div class="row">
        <div class="form-group">
            <div class="col-sm-3 col-xs-12 form-top-margin">
                <label>Reservation Summary</label>
            </div>
            <div class="col-sm-9 col-xs-12 form-top-margin">
                <textarea class="form-control" rows="2" disabled>Site X-88, Mary Denver, Jun-21/Jun-25, CAD$ 2,850.</textarea>
            </div>
            <div class="col-sm-6 col-sm-push-6 col-xs-12 form-top-margin">
                <button class="btn btn-block btn-default">
                    <span class="col-xs-1 glyphicon glyphicon-ok"></span>
                    <span class="col-xs-9">Confirm Site Reservation</span>
                </button>
            </div>
        </div>
    </div>
    <!-- Account Balance for this customer -->
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-sm-6 col-xs-12 form-top-margin">
                <label>Account Balance For This Customer</label>
            </div>
            <div class="col-sm-6 col-xs-12 form-top-margin">
                <input type="text" min="0.00" step="any" class="form-control" placeholder="CAD$ 3,045." style="text-align:right" disabled>
            </div>
        </div>
    </div>
    <!-- Payment-->
    <div class="row top-margin">
        <div class="col-sm-6 col-sm-push-6 col-xs-12 form-top-margin" data-toggle="tooltip" title="Go To">
            <a href="@Url.Action("Payment", "PrototypeUI")" class="btn btn-block btn-default btn-mylink pagination-centered">
                <span class="glyphicon glyphicon-plus-usd"></span>
                <span>Proceed To Payment</span>
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
