@model IEnumerable<IPMRVPark.Models.selecteditem>

<div class="container-fluid">
    <!-- List of selected sites -->
    <div class="row form-top-margin">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Site</th>
                        <th>Type</th>
                        <th>Check In</th>
                        <th>Check Out</th>
                        <th style="text-align:right;">Total</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        // This is for New Reservation
                        if (item.reservationAmount == 0)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.site)</td>
                                <td>@Html.DisplayFor(modelItem => item.siteType)</td>
                                <td>@item.checkInDate.ToString("ddd"), @item.checkInDate.ToString("dd") @item.checkInDate.ToString("MMM")</td>
                                <td>@item.checkOutDate.ToString("ddd"), @item.checkOutDate.ToString("dd") @item.checkOutDate.ToString("MMM")</td>
                                <td style="text-align:right;">@Html.DisplayFor(modelItem => item.amount)</td>
                            </tr>
                        }
                        // This is for Edit Reservation
                        else
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.site)</td>
                                <td>@Html.DisplayFor(modelItem => item.siteType)</td>
                                <td>@item.reservationCheckInDate.ToString("ddd"), @item.reservationCheckInDate.ToString("dd") @item.reservationCheckInDate.ToString("MMM")</td>
                                <td>@item.reservationCheckOutDate.ToString("ddd"), @item.reservationCheckOutDate.ToString("dd") @item.reservationCheckOutDate.ToString("MMM")</td>
                                <td style="text-align:right;">@Html.DisplayFor(modelItem => item.reservationAmount)</td>
                            </tr>
                            <!-- Show changed values if there are changes-->
                            if (item.reservationAmount != item.total && item.isSiteChecked)
                            {
                                <tr>
                                    <td style="border-top:none; padding-top: 0;"></td>
                                    <td style="border-top:none; padding-top: 0;">Changed to:</td>
                                    <td style="border-top:none; padding-top: 0;">@item.checkInDate.ToString("ddd"), @item.checkInDate.ToString("dd") @item.checkInDate.ToString("MMM")</td>
                                    <td style="border-top:none; padding-top: 0;">@item.checkOutDate.ToString("ddd"), @item.checkOutDate.ToString("dd") @item.checkOutDate.ToString("MMM")</td>
                                    <td style="border-top:none; padding-top: 0; text-align:right;">@Html.DisplayFor(modelItem => item.total)</td>
                                </tr>
                            }
                            else
                            {
                                <tr></tr>
                            }
                            if (!item.isSiteChecked)
                            {
                                <tr>
                                    <td style="border-top:none; padding-top: 0;"></td>
                                    <td style="border-top:none; padding-top: 0;">Cancelled:</td>
                                    <td colspan="3" style="border-top:none; padding-top: 0; text-align:right;">@Html.DisplayFor(modelItem => item.total)</td>
                                </tr>
                            }
                            else
                            {
                                <tr></tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>