@model IEnumerable<IPMRVPark.Models.payment>

@{
    ViewBag.Title = "View1";
}

<h2>View1</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idIPMEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idPaymentMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idCustomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idReasonForPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idSession)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isCredit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payDocType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.docNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.primaryTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.selectionTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.withoutTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastUpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cancellationFee)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idIPMEvent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idPaymentMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idCustomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idReasonForPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idSession)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isCredit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payDocType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.docNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.primaryTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.selectionTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.withoutTax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastUpdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cancellationFee)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
